# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# FastAPI temp files
backend/temp_recordings/
backend/call_ai_demo.db

# Node
node_modules/
dist/

# Vite
frontend/dist/

# Docker
*.log
docker-compose.override.yml

# VSCode
.vscode/

# Mac
*.swp